n8n_workflow_v2_fixed.json
{
    "name": "TravelCompanion AI - Fluxo V2 (Fixed)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-input",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-entrada",
            "name": "Webhook Entrada WhatsApp",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                300
            ],
            "webhookId": "whatsapp-input"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "cond-is-media",
                            "leftValue": "={{ $json.body.message.documentMessage || $json.body.message.imageMessage }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "node-if-midia",
            "name": "É Mídia?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                380,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "cond-is-location",
                            "leftValue": "={{ $json.body.message.locationMessage }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "node-if-location",
            "name": "É Localização?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                380,
                450
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://wsdfsdf-travel-assistant-backend.nkfiyw.easypanel.host/api/webhook/media",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ user_id: $json.body.key.remoteJid.split('@')[0], base64: $json.body.base64, filename: $json.body.message.documentMessage?.fileName || 'imagem.jpg', mimetype: $json.body.message.documentMessage?.mimetype || $json.body.message.imageMessage?.mimetype }) }}",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "node-http-midia",
            "name": "Enviar Mídia p/ IA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                650,
                80
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://wsdfsdf-travel-assistant-backend.nkfiyw.easypanel.host/api/webhook/location",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ user_id: $json.body.key.remoteJid.split('@')[0], latitude: $json.body.message.locationMessage.degreesLatitude, longitude: $json.body.message.locationMessage.degreesLongitude }) }}",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "node-http-location",
            "name": "Enviar Localização p/ IA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                650,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://wsdfsdf-travel-assistant-backend.nkfiyw.easypanel.host/api/chat",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ user_id: $json.body.key.remoteJid.split('@')[0], message: $json.body.message.conversation || $json.body.message.extendedTextMessage?.text || '' }) }}",
                "options": {
                    "timeout": 60000
                }
            },
            "id": "node-http-texto",
            "name": "Enviar Texto p/ IA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"ok\" }",
                "options": {}
            },
            "id": "node-respond-ok",
            "name": "Responder OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                920,
                300
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ia-response",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-resposta",
            "name": "Webhook Resposta IA",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                720
            ],
            "webhookId": "ia-response"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://wsdfsdf-evolution-api.nkfiyw.easypanel.host/message/sendText/Seven_Assistant",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "seven_token_123"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ number: $json.body.telefone, text: $json.body.mensagem }) }}",
                "options": {
                    "timeout": 15000
                }
            },
            "id": "node-http-evolution-send",
            "name": "Enviar WhatsApp (Evolution)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                380,
                720
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"ok\" }",
                "options": {}
            },
            "id": "node-respond-ok-ia",
            "name": "Responder OK (IA)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                720
            ]
        }
    ],
    "connections": {
        "Webhook Entrada WhatsApp": {
            "main": [
                [
                    {
                        "node": "É Mídia?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "É Mídia?": {
            "main": [
                [
                    {
                        "node": "Enviar Mídia p/ IA",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "É Localização?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "É Localização?": {
            "main": [
                [
                    {
                        "node": "Enviar Localização p/ IA",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Enviar Texto p/ IA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar Mídia p/ IA": {
            "main": [
                [
                    {
                        "node": "Responder OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar Localização p/ IA": {
            "main": [
                [
                    {
                        "node": "Responder OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar Texto p/ IA": {
            "main": [
                [
                    {
                        "node": "Responder OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Resposta IA": {
            "main": [
                [
                    {
                        "node": "Enviar WhatsApp (Evolution)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar WhatsApp (Evolution)": {
            "main": [
                [
                    {
                        "node": "Responder OK (IA)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": []
}