n8n_workflow_final_v18.json
{
    "name": "TravelCompanion AI - Fluxo Final V18 (Produção Definitiva)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-input",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "node-webhook-entrada",
            "name": "Webhook Entrada WhatsApp",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                300
            ],
            "webhookId": "whatsapp-input"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "cond-fromme",
                            "leftValue": "={{ $json.body.data?.key?.fromMe || $json.body.key?.fromMe || false }}",
                            "rightValue": false,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "cond-group",
                            "leftValue": "={{ ($json.body.data?.key?.remoteJid || $json.body.key?.remoteJid || '').includes('@g.us') }}",
                            "rightValue": false,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "node-if-seguranca",
            "name": "Filtro de Segurança (anti-loop e grupos)",
            "type": "n8n-nodes-base.if",
            "typeVersion": 3,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"ignored\" }",
                "options": {}
            },
            "id": "node-respond-ignored",
            "name": "Responder Ignored (bot/grupo)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                150
            ]
        },
        {
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "assign-url_media",
                            "name": "url_media",
                            "value": "https://SEU-BACKEND/api/webhook/media",
                            "type": "string"
                        },
                        {
                            "id": "assign-url_location",
                            "name": "url_location",
                            "value": "https://SEU-BACKEND/webhook/whatsapp/location",
                            "type": "string"
                        },
                        {
                            "id": "assign-url_chat",
                            "name": "url_chat",
                            "value": "https://SEU-BACKEND/api/chat",
                            "type": "string"
                        },
                        {
                            "id": "assign-url_evolution",
                            "name": "url_evolution",
                            "value": "https://SEU-EVOLUTION-API/message/sendText/Seven_Assistant",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-config",
            "name": "⚙️ Config - URLs e Variáveis",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.2,
            "position": [
                500,
                350
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "cond-is-media",
                            "leftValue": "={{ $('Webhook Entrada WhatsApp').item.json.body.data?.message?.documentMessage || $('Webhook Entrada WhatsApp').item.json.body.data?.message?.imageMessage || $('Webhook Entrada WhatsApp').item.json.body.data?.message?.audioMessage || $('Webhook Entrada WhatsApp').item.json.body.data?.message?.videoMessage || $('Webhook Entrada WhatsApp').item.json.body.message?.documentMessage || $('Webhook Entrada WhatsApp').item.json.body.message?.imageMessage || $('Webhook Entrada WhatsApp').item.json.body.message?.audioMessage || $('Webhook Entrada WhatsApp').item.json.body.message?.videoMessage }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "node-if-midia",
            "name": "É Mídia?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                700,
                350
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $node['⚙️ Config - URLs e Variáveis'].json.url_media }}",
                "sendBody": true,
                "specifyBody": "json",
                "options": {
                    "timeout": 30000
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "jsonBody": "={{ JSON.stringify({\n  \"user_id\": (() => { const jid = $('Webhook Entrada WhatsApp').item.json.body.data?.key?.remoteJid || $('Webhook Entrada WhatsApp').item.json.body.key?.remoteJid; if (!jid) throw new Error('remoteJid não encontrado'); return jid.split('@')[0]; })(),\n  \"base64\": $('Webhook Entrada WhatsApp').item.json.body.data?.message?.base64 || $('Webhook Entrada WhatsApp').item.json.body.base64 || '',\n  \"filename\": $('Webhook Entrada WhatsApp').item.json.body.data?.message?.documentMessage?.fileName || $('Webhook Entrada WhatsApp').item.json.body.message?.documentMessage?.fileName || 'arquivo_midia',\n  \"mimetype\": $('Webhook Entrada WhatsApp').item.json.body.data?.message?.documentMessage?.mimetype || $('Webhook Entrada WhatsApp').item.json.body.data?.message?.imageMessage?.mimetype || $('Webhook Entrada WhatsApp').item.json.body.data?.message?.audioMessage?.mimetype || $('Webhook Entrada WhatsApp').item.json.body.data?.message?.videoMessage?.mimetype || $('Webhook Entrada WhatsApp').item.json.body.message?.documentMessage?.mimetype || $('Webhook Entrada WhatsApp').item.json.body.message?.imageMessage?.mimetype || $('Webhook Entrada WhatsApp').item.json.body.message?.audioMessage?.mimetype || 'application/octet-stream'\n}) }}",
                "continueOnFail": true
            },
            "id": "node-http-midia",
            "name": "Enviar Mídia p/ IA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                900,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "cond-error-midia",
                            "leftValue": "={{ $json.error }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "node-if-erro-midia",
            "name": "Erro na Mídia?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 3,
            "position": [
                1100,
                200
            ]
        },
        {
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "assign-timestamp",
                            "name": "timestamp",
                            "value": "={{ new Date().toISOString() }}",
                            "type": "string"
                        },
                        {
                            "id": "assign-node_name",
                            "name": "node_name",
                            "value": "Enviar Mídia p/ IA",
                            "type": "string"
                        },
                        {
                            "id": "assign-user_id",
                            "name": "user_id",
                            "value": "={{ (() => { const jid = $('Webhook Entrada WhatsApp').item.json.body.data?.key?.remoteJid || $('Webhook Entrada WhatsApp').item.json.body.key?.remoteJid; return jid ? jid.split('@')[0] : 'desconhecido'; })() }}",
                            "type": "string"
                        },
                        {
                            "id": "assign-error_detail",
                            "name": "error_detail",
                            "value": "={{ $json.error || 'Erro desconhecido' }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-log-erro-midia",
            "name": "Log Erro Mídia",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.2,
            "position": [
                1300,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"error\", \"message\": \"falha ao processar midia\" }",
                "options": {}
            },
            "id": "node-respond-error-midia",
            "name": "Responder Erro Mídia",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1500,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"ok\" }",
                "options": {}
            },
            "id": "node-respond-ok-midia",
            "name": "Responder OK (Mídia)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1300,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "cond-is-location",
                            "leftValue": "={{ $('Webhook Entrada WhatsApp').item.json.body.data?.message?.locationMessage || $('Webhook Entrada WhatsApp').item.json.body.message?.locationMessage }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "node-if-location",
            "name": "É Localização?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                900,
                450
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $node['⚙️ Config - URLs e Variáveis'].json.url_location }}",
                "sendBody": true,
                "specifyBody": "json",
                "options": {
                    "timeout": 30000
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "jsonBody": "={{ JSON.stringify({\n  \"user_id\": (() => { const jid = $('Webhook Entrada WhatsApp').item.json.body.data?.key?.remoteJid || $('Webhook Entrada WhatsApp').item.json.body.key?.remoteJid; if (!jid) throw new Error('remoteJid não encontrado'); return jid.split('@')[0]; })(),\n  \"latitude\": $('Webhook Entrada WhatsApp').item.json.body.data?.message?.locationMessage?.degreesLatitude || $('Webhook Entrada WhatsApp').item.json.body.message?.locationMessage?.degreesLatitude,\n  \"longitude\": $('Webhook Entrada WhatsApp').item.json.body.data?.message?.locationMessage?.degreesLongitude || $('Webhook Entrada WhatsApp').item.json.body.message?.locationMessage?.degreesLongitude\n}) }}",
                "continueOnFail": true
            },
            "id": "node-http-location",
            "name": "Enviar Localização p/ IA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1100,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "cond-error-location",
                            "leftValue": "={{ $json.error }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "node-if-erro-location",
            "name": "Erro na Localização?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 3,
            "position": [
                1300,
                400
            ]
        },
        {
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "assign-timestamp",
                            "name": "timestamp",
                            "value": "={{ new Date().toISOString() }}",
                            "type": "string"
                        },
                        {
                            "id": "assign-node_name",
                            "name": "node_name",
                            "value": "Enviar Localização p/ IA",
                            "type": "string"
                        },
                        {
                            "id": "assign-user_id",
                            "name": "user_id",
                            "value": "={{ (() => { const jid = $('Webhook Entrada WhatsApp').item.json.body.data?.key?.remoteJid || $('Webhook Entrada WhatsApp').item.json.body.key?.remoteJid; return jid ? jid.split('@')[0] : 'desconhecido'; })() }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-log-erro-location",
            "name": "Log Erro Localização",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.2,
            "position": [
                1500,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"error\", \"message\": \"falha ao processar localizacao\" }",
                "options": {}
            },
            "id": "node-respond-error-location",
            "name": "Responder Erro Localização",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1700,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"ok\" }",
                "options": {}
            },
            "id": "node-respond-ok-location",
            "name": "Responder OK (Localização)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1500,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $node['⚙️ Config - URLs e Variáveis'].json.url_chat }}",
                "sendBody": true,
                "specifyBody": "json",
                "options": {
                    "timeout": 60000
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "jsonBody": "={{ JSON.stringify({\n  \"user_id\": (() => { const jid = $('Webhook Entrada WhatsApp').item.json.body.data?.key?.remoteJid || $('Webhook Entrada WhatsApp').item.json.body.key?.remoteJid; if (!jid) throw new Error('remoteJid não encontrado'); return jid.split('@')[0]; })(),\n  \"message\": $('Webhook Entrada WhatsApp').item.json.body.data?.message?.conversation || $('Webhook Entrada WhatsApp').item.json.body.data?.message?.extendedTextMessage?.text || $('Webhook Entrada WhatsApp').item.json.body.message?.conversation || $('Webhook Entrada WhatsApp').item.json.body.message?.extendedTextMessage?.text || ''\n}) }}",
                "continueOnFail": true
            },
            "id": "node-http-texto",
            "name": "Enviar Texto p/ IA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1100,
                600
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "cond-error-texto",
                            "leftValue": "={{ $json.error }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "node-if-erro-texto",
            "name": "Erro no Texto?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 3,
            "position": [
                1300,
                600
            ]
        },
        {
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "assign-timestamp",
                            "name": "timestamp",
                            "value": "={{ new Date().toISOString() }}",
                            "type": "string"
                        },
                        {
                            "id": "assign-node_name",
                            "name": "node_name",
                            "value": "Enviar Texto p/ IA",
                            "type": "string"
                        },
                        {
                            "id": "assign-user_id",
                            "name": "user_id",
                            "value": "={{ (() => { const jid = $('Webhook Entrada WhatsApp').item.json.body.data?.key?.remoteJid || $('Webhook Entrada WhatsApp').item.json.body.key?.remoteJid; return jid ? jid.split('@')[0] : 'desconhecido'; })() }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-log-erro-texto",
            "name": "Log Erro Texto",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.2,
            "position": [
                1500,
                500
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"error\", \"message\": \"falha ao processar texto\" }",
                "options": {}
            },
            "id": "node-respond-error-texto",
            "name": "Responder Erro Texto",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1700,
                500
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"ok\" }",
                "options": {}
            },
            "id": "node-respond-ok-texto",
            "name": "Responder OK (Texto)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1500,
                700
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ia-response",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "node-webhook-resposta",
            "name": "Webhook Resposta IA",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                950
            ],
            "webhookId": "ia-response"
        },
        {
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "assign-url_evolution",
                            "name": "url_evolution",
                            "value": "https://SEU-EVOLUTION-API/message/sendText/Seven_Assistant",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-config-pipeline-2",
            "name": "⚙️ Config - Pipeline 2",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.2,
            "position": [
                300,
                950
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "cond-payload-valido",
                            "leftValue": "={{ $json.body.telefone !== undefined && $json.body.telefone !== '' && $json.body.mensagem !== undefined && $json.body.mensagem !== '' }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "node-if-payload-valido",
            "name": "Payload Válido?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 3,
            "position": [
                500,
                950
            ]
        },
        {
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "assign-timestamp",
                            "name": "timestamp",
                            "value": "={{ new Date().toISOString() }}",
                            "type": "string"
                        },
                        {
                            "id": "assign-error_message",
                            "name": "error_message",
                            "value": "Payload inválido recebido da IA — campos telefone ou mensagem ausentes",
                            "type": "string"
                        },
                        {
                            "id": "assign-node_name",
                            "name": "node_name",
                            "value": "Payload Válido?",
                            "type": "string"
                        },
                        {
                            "id": "assign-payload_recebido",
                            "name": "payload_recebido",
                            "value": "={{ JSON.stringify($json.body) }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-log-payload-invalido",
            "name": "Log Payload Inválido",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.2,
            "position": [
                700,
                850
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"error\", \"message\": \"payload invalido\" }",
                "options": {}
            },
            "id": "node-respond-payload-invalido",
            "name": "Responder Payload Inválido",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                900,
                850
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $node['⚙️ Config - Pipeline 2'].json.url_evolution }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "options": {
                    "timeout": 15000
                },
                "jsonBody": "={{ JSON.stringify({\n  \"number\": $json.body.telefone,\n  \"text\": $json.body.mensagem\n}) }}",
                "continueOnFail": true
            },
            "id": "node-http-evolution-send",
            "name": "Enviar WhatsApp (Evolution)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                700,
                1050
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "cond-error-evolution",
                            "leftValue": "={{ $json.error }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "node-if-erro-evolution",
            "name": "Erro no Evolution?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 3,
            "position": [
                900,
                1050
            ]
        },
        {
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "assign-timestamp",
                            "name": "timestamp",
                            "value": "={{ new Date().toISOString() }}",
                            "type": "string"
                        },
                        {
                            "id": "assign-node_name",
                            "name": "node_name",
                            "value": "Enviar WhatsApp (Evolution)",
                            "type": "string"
                        },
                        {
                            "id": "assign-telefone",
                            "name": "telefone",
                            "value": "={{ $('Webhook Resposta IA').item.json.body.telefone || 'desconhecido' }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-log-erro-evolution",
            "name": "Log Erro Evolution",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.2,
            "position": [
                1100,
                950
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"error\", \"message\": \"falha ao enviar whatsapp\" }",
                "options": {}
            },
            "id": "node-respond-error-evolution",
            "name": "Responder Erro Evolution",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1300,
                950
            ]
        },
        {
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "assign-status",
                            "name": "status",
                            "value": "enviado_com_sucesso",
                            "type": "string"
                        },
                        {
                            "id": "assign-timestamp",
                            "name": "timestamp",
                            "value": "={{ new Date().toISOString() }}",
                            "type": "string"
                        },
                        {
                            "id": "assign-telefone",
                            "name": "telefone",
                            "value": "={{ $('Webhook Resposta IA').item.json.body.telefone }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-envio-concluido",
            "name": "✅ Envio Concluído",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.2,
            "position": [
                1100,
                1150
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"ok\", \"message\": \"mensagem enviada com sucesso\" }",
                "options": {}
            },
            "id": "node-respond-ok-final",
            "name": "Responder OK (Sucesso Final)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1300,
                1150
            ]
        }
    ],
    "connections": {
        "Webhook Entrada WhatsApp": {
            "main": [
                [
                    {
                        "node": "Filtro de Segurança (anti-loop e grupos)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filtro de Segurança (anti-loop e grupos)": {
            "main": [
                [
                    {
                        "node": "⚙️ Config - URLs e Variáveis",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Responder Ignored (bot/grupo)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⚙️ Config - URLs e Variáveis": {
            "main": [
                [
                    {
                        "node": "É Mídia?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "É Mídia?": {
            "main": [
                [
                    {
                        "node": "Enviar Mídia p/ IA",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "É Localização?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar Mídia p/ IA": {
            "main": [
                [
                    {
                        "node": "Erro na Mídia?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Erro na Mídia?": {
            "main": [
                [
                    {
                        "node": "Log Erro Mídia",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Responder OK (Mídia)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Erro Mídia": {
            "main": [
                [
                    {
                        "node": "Responder Erro Mídia",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "É Localização?": {
            "main": [
                [
                    {
                        "node": "Enviar Localização p/ IA",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Enviar Texto p/ IA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar Localização p/ IA": {
            "main": [
                [
                    {
                        "node": "Erro na Localização?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Erro na Localização?": {
            "main": [
                [
                    {
                        "node": "Log Erro Localização",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Responder OK (Localização)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Erro Localização": {
            "main": [
                [
                    {
                        "node": "Responder Erro Localização",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar Texto p/ IA": {
            "main": [
                [
                    {
                        "node": "Erro no Texto?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Erro no Texto?": {
            "main": [
                [
                    {
                        "node": "Log Erro Texto",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Responder OK (Texto)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Erro Texto": {
            "main": [
                [
                    {
                        "node": "Responder Erro Texto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Resposta IA": {
            "main": [
                [
                    {
                        "node": "⚙️ Config - Pipeline 2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⚙️ Config - Pipeline 2": {
            "main": [
                [
                    {
                        "node": "Payload Válido?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Payload Válido?": {
            "main": [
                [
                    {
                        "node": "Enviar WhatsApp (Evolution)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log Payload Inválido",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Payload Inválido": {
            "main": [
                [
                    {
                        "node": "Responder Payload Inválido",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar WhatsApp (Evolution)": {
            "main": [
                [
                    {
                        "node": "Erro no Evolution?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Erro no Evolution?": {
            "main": [
                [
                    {
                        "node": "Log Erro Evolution",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "✅ Envio Concluído",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Erro Evolution": {
            "main": [
                [
                    {
                        "node": "Responder Erro Evolution",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "✅ Envio Concluído": {
            "main": [
                [
                    {
                        "node": "Responder OK (Sucesso Final)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner",
        "errorWorkflow": ""
    },
    "meta": {
        "templateCredsSetupCompleted": false
    },
    "tags": []
}